/* Stile base */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
/* Stile per l'header */

/* HEADER */
.header {
    background-color: #333;
    padding: 15px 30px;
    width: 100%;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Logo a sinistra, titolo al centro, link a destra */
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* Logo */
.logo {
    width: 80px; /* Modifica la dimensione del logo */
    height: auto;
}

/* Titolo VH HORIZON */
.site-title {
    color: #f4f4f4;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;  /* Il titolo si espande per restare centrato */
}

/* Link Home */
nav {
    display: flex;
    align-items: center;
}

.home-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #444;
    border-radius: 5px;
    transition: 0.3s;
}

.home-link:hover {
    background-color: #666;
}



/* PRIVACY SECTION */
.privacy-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Rimuovi il padding per evitare la cornice bianca */
}

.privacy-box {
    background: white;
    max-width: 800px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* ACCORDION */
.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-btn {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-btn i {
    transition: transform 0.3s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding-left: 10px;
}

/* FOOTER */
.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}


/* Stile per il logo nel footer */
.footer-logo {
    width: 100px;  /* Modifica questa dimensione a piacere */
    height: auto;
}


.social-icons a, .social-icons-pre a {
    color: white;
    font-size: 20px;
    margin: 0 8px;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover, .social-icons-pre a:hover {
    color: #686868;
    transform: scale(1.2);
}